extends ./templates/blog.layout

block mainBody
    a(class="blog-home-btn", href="/blog", title="Back to catalog")
        i.fa.fa-sign-out.fa-2x.fa-flip-horizontal
    a(class="home-btn", href="/", title="Back to Home")
        i.fa.fa-home.fa-2x
    div.blog-content.col-sm-6.col-sm-offset-3
        h1.blog-title #{article.title}
        h6.blog-sub-title #{formatTime(article.date)} by #{article.author}
        div.tag-area.col-sm-12
            each tag in article.tags
                span.ctag.label.label-default #{tag}
        div.context.col-sm-12
            != content
        div.col-sm-12

            div#disqus_thread

            script.
                var disqus_shortname = 'markocenBlog';
                var disqus_identifier = '/#{article.articleId}';
                var disqus_url = 'http://www.markocen.com/blog/#{article.articleId}';
                var disqus_title = '#{article.title}';

                (function () {
                    var dsq = document.createElement('script');
                    var head = document.getElementsByTagName('head')[0];
                    var body = document.getElementsByTagName('body')[0];

                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

                    (head || body).appendChild(dsq);
                })();