extends ./templates/blog.layout

block mainBody
    header.blog-header.col-sm-10.col-sm-offset-1
        div.col-sm-5
            a(href="/blog") BLOG 博客
            span &nbsp;&nbsp;|&nbsp;&nbsp;
            a(href="/#")
                i.fa.fa-rss
            span &nbsp;&nbsp;
            a(href="/")
                i.fa.fa-home
        div.search-input.col-sm-3
            div.input-group
                input#search-input(type="text", class="form-control", placeholder="Search articles...")
                span.input-group-btn
                    button.search-submit.btn.btn-primary
                        i.fa.fa-search
    div.blog-index.col-sm-8
        each article in articles
            div(class="blog-item col-sm-10 col-sm-offset-2", data-article-id=article.articleId)
                div.read-more
                    a(href="http://localhost:5555/blog/"+article.articleId) Read More ...
                h3.blog-title #{article.title}
                h6.blog-sub-title #{formatTime(article.date)} by #{article.author}
                div.tag-area.col-sm-12
                    each tag in article.tags
                        a(class="ctag label label-default", href="http://localhost:5555/blog?tag=" + tag) #{tag}
                div.description.col-sm-12
                    p #{article.description}
